# Project Base
DEBUG=

DJANGO_SECRET_KEY=dev-env-secret-key

ALLOWED_HOSTS=


#Database
## if user decides on SQLITE, remember to set USE_SQLITE=TRUE
USE_SQLITE=

## else configure the following variables
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=


# CORS
CORS_ALLOW_ALL_ORIGINS=False
CSRF_TRUSTED_ORIGINS= 