# Env variables
.env
.env/
env/
.venv/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Django specific
logs/
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Testing
.pytest_cache/
.tox/
.coverage

# Type checkers
.mypy_cache/

# IDEs and editors
.vscode/

# OS files
.DS_Store
Thumbs.db

# Misc
celerybeat-schedule

